
.quiz{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.subtitle{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100%;
    color:antiquewhite;
    padding:1%;
    text-align: center;

}
.options{
    display:block;
    height:50vh;
    display:flex ;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.option:hover{
    background-color: antiquewhite;
}

.questionSection{
    background:url('https://imgs.search.brave.com/bd4NvDmYIMTmGwGMW03xlKkPgKtiIPCIVJVYVMK8peU/rs:fit:1023:682:1/g:ce/aHR0cHM6Ly9zdDMu/ZGVwb3NpdHBob3Rv/cy5jb20vMzAwMzQ0/OS8xODcyMi9pLzk1/MC9kZXBvc2l0cGhv/dG9zXzE4NzIyMTY3/NC1zdG9jay1waG90/by1jb2xvcmZ1bC1x/dWVzdGlvbi1tYXJr/cy1mcmFtZS1iYWNr/Z3JvdW5kLmpwZw');
    background-size:cover;
    background-position:fixed;
    display: flex;
    width:40vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.option{
    cursor: pointer;
    margin-top:5vh;
    padding:1%;
    width:80%;
    align-items: center;
    background-color: aliceblue;
    border-radius:20px;
    border:none;
}

.actionbuttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    padding:2%;
    cursor:pointer;
    
}
.nextbtn{
    width:100px;
    padding:1%;
    border-radius:10px;
    border:none;
    background: green;
    cursor:pointer;
}
.endbtn{
    width:100px;
    padding:1%;
    border-radius:10px;
    border:none;
    background: red;
    cursor:pointer;
}

.scoresection{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
    width:60vw;
    border:solid black 2px;
    border-radius:50px;
    margin-top:30px;
    background:url('https://thumbs.dreamstime.com/z/result-word-built-letter-cubes-newspaper-background-58586553.jpg');
    background-size:cover;
}