body{
 background:url('https://imgs.search.brave.com/EsaWC5jITPv__mskVcEBWazgEUfWRnHxlM47sRYTm5U/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly92aXBz/Lm9yZy93cC1jb250/ZW50L3VwbG9hZHMv/MjAxOC8wOS9xdWVz/dGlvbi1iYWNrZ3Jv/dW5kLnBuZw');
 background-size: cover;
 z-index:-1; 
}
.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    z-index:99;
    width:26%;height:46vh;
    padding:1%;
    background: url('https://imgs.search.brave.com/OKldQGToRt7ZIwFx0udyru15iPw5gJqRDIf5A4uY21g/rs:fit:759:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC52/a0dHdVRWT0JzclFE/dk9VQ044WUhRSGFF/byZwaWQ9QXBp');
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top:80px;
    border:solid 2px black;
    
}
.settings{
   width:100%;
   align-items: center;
   display: flex;
   justify-content: center;
   text-align: center;
}

.banner{
    width:55%;
    align-items: center;
    display: flex;
}

.settingsselect{
    display:flex;
    justify-content:center;
    flex-direction: column;
    margin-top:30px;
    width:50%;
    align-self: center;
    
}

@media (max-width:800px){
    .content{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .settings{
        width:100%;
    }
    .banner{
        width:100%;
        padding-top:20px;
    }
}
.settingsselect{
    display: flex;
    flex-direction: column;
}